<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span><span class="animate scroll" style="--i:1;"></span></h2><!--heading-->

    <div class="education-row">
        <div class="education-column">
            <h3 class="title">Education<span class="animate scroll" style="--i:2;"></span></h3><!--title-->

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <i class='bx bxs-calendar' ></i>
                            2010-2018
                        </div><!--year-->
                        <h3>Elementary School - Escola Estadual Cel. Eugênio Euclydes Pereira da Motta</h3>
                        <p>School where I attended Elementary School I and II (1st to 9th grade). There I had great teachers who certainly helped me a lot to become who I am today, with not only academic teachings, but also moral and ethical.</p>
                    </div><!--content-->
                </div><!--education-content-->

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <i class='bx bxs-calendar' ></i>
                            2019-2021
                        </div><!--year-->
                        <h3>ETIM - ETEC de Porto Feliz</h3>
                        <p>I attended the entire High School at ETEC in Porto Feliz, in the ETIM modality (Integrated Technical Education to High School) where I took the Logistics course together with High School. ETEC was very important for my professional training, with it I learned a lot about the business environment and how I should behave as a professional in the job market.</p>
                    </div><!--content-->
                </div><!--education-content-->

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <i class='bx bxs-calendar' ></i>
                            2022-Presente
                        </div><!--year-->
                        <h3>Technologist in Systems Analysis and Development - FATEC Itu</h3>
                        <p>I chose FATEC Itu - Dom Amaury Castanho to carry out my graduation at the higher level. Within the Systems Analysis and Development course I learned most of what I know today in terms of programming, especially in terms of web development.</p>
                    </div><!--content-->
                </div><!--education-content-->

                <span class="animate scroll" style="--i:3;"></span>
            </div><!--education-box-->
        </div><!--education-column-->

        <div class="education-column">
            <h3 class="title">Experience<span class="animate scroll" style="--i:5;"></span></h3><!--title-->

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <i class='bx bxs-calendar' ></i>
                            2019
                        </div><!--year-->
                        <h3>Assistant Math Teacher - ETEC de Porto Feliz</h3>
                        <p>In the 1st year of ETIM at ETEC I was one of the teachers of the extra math classes, which were held during lunchtime for any student who wanted to ask questions about the subject.</p>
                    </div><!--content-->
                </div><!--education-content-->

                <span class="animate scroll" style="--i:6;"></span>
            </div><!--education-box-->
        </div><!--education-column-->
    </div><!--education-row-->
</section><!--education-->
