<section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="about-img">
        <img src="">
        <span class="circle-spin"></span><!--circle-spin-->
    </div><!--about-img-->
    
    <div class="about-content">
        <h3>Fullstack Developer!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae numquam cum accusamus, 
            velit deleniti amet repudiandae maiores, voluptatum repellat dolorum laudantium? A alias 
            possimus odio saepe repellat sapiente voluptatibus natus sequi molestiae modi exercitationem 
            veritatis corrupti amet culpa, dolorum dolores autem minus dolore consequatur atque quasi. Quasi 
            molestias sint cum.</p>
        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
        </div><!--btn-box btns-->
    </div><!--about-content-->

</section><!--about-->
