<section class="about" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
    <div class="about-img">
        <img src="">
        <span class="circle-spin"></span><!--circle-spin-->
        <span class="animate scroll" style="--i:2;"></span>
    </div><!--about-img-->
    
    <div class="about-content">
        <h3>Fullstack Developer!<span class="animate scroll" style="--i:3;"></span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae numquam cum accusamus, 
            velit deleniti amet repudiandae maiores, voluptatum repellat dolorum laudantium? A alias 
            possimus odio saepe repellat sapiente voluptatibus natus sequi molestiae modi exercitationem 
            veritatis corrupti amet culpa, dolorum dolores autem minus dolore consequatur atque quasi. Quasi 
            molestias sint cum.
            <span class="animate scroll" style="--i:4;"></span>
        </p>
        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
            <span class="animate scroll" style="--i:5;"></span>
        </div><!--btn-box btns-->
    </div><!--about-content-->

</section><!--about-->
