<section class="about" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
    <div class="about-img">
        <img src="">
        <span class="circle-spin"></span><!--circle-spin-->
        <span class="animate scroll" style="--i:2;"></span>
    </div><!--about-img-->
    
    <div class="about-content">
        <h3>Fullstack Developer!<span class="animate scroll" style="--i:3;"></span></h3>
        <p>My name is Luis Bazzo, I am 19 years old, I live in Brazil and I am currently in the 4th semester of Systems Analysis and Development. My focus is to become a Fullstack developer with specialty in Angular and Java technologies. I am open to any kind of opportunity, if you are interested click the button below!
            <span class="animate scroll" style="--i:4;"></span>
        </p>
        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
            <span class="animate scroll" style="--i:5;"></span>
        </div><!--btn-box btns-->
    </div><!--about-content-->

</section><!--about-->
